@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");



$primary: rgb(68, 68, 68);
$icon: rgb(138, 138, 138);
$active-link-font-color: rgb(56, 56, 56);
$active-link-icon: rgb(100, 100, 100);
$box-shadow: 1px 1px 5px rgba(50,50,50,0.4);

*{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: $primary;
    
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
}

