@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


$primary: rgb(68, 68, 68);
$heading: rgb(56, 56, 56);
$icon: rgb(138, 138, 138);
$active-link-font-color: rgb(56, 56, 56);
$active-link-icon: rgb(100, 100, 100);
$box-shadow: 1px 1px 3px rgba(50,50,50,0.4);
$green: #00b67c;
$blue: #34495E;
*{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: $primary;
    
}
p{
    font-size: 19px;
}
h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
}


a.button{
    background: white;
    border: none;
    padding: 10px;
    transition: all ease 0.5s;
    box-shadow: 1px 1px 3px rgba(50,50,50,0.4);
    text-decoration: none;
    // margin: 10px;

}
a.button:hover{
    // transform: scale(1.02);
    // box-shadow: $box-shadow;
    transition: all ease 0.8s;
    background: rgb(228, 228, 228);
    // background: rebeccapurple;
} 

